<h1> Flight Booker 9,0000,000 </h1>
<div>
<%= render "select_airports" %>
</div>

<% unless @available_flights.nil? %>
  <% if @available_flights.any? %>
    <%= render 'choose_flight' %>
  <% else %>
    <p> No Flights are available </p>
  <% end %>
<% end %>
